.dart_tool/
.flutter-plugins*
.packages
build/
coverage/
work/
.idea/
.vscode/
*.iml
docs/*.docx
android/local.properties
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
config/*.json
!config/*.example.json
**/google-services.json
**/GoogleService-Info.plist
*.jks
*.keystore
